<div>
    <button type="button" class="btn btn-success" data-ng-click="getEntity()"> Вывести в консоль</button>  
<!--    <div>
        <table class="table">
            <tr>
                <td>Название:</td>
                <td><input class="form-control" type="text" data-ng-model="people.name"/></td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td><input class="form-control" type="text" data-ng-model="people.address"/></td>
            </tr>
            <tr>
                <td>Возраст</td>
                <td><input class="form-control" type="text" data-ng-model="people.age"/></td>
            </tr>
        </table>
        <br>-->
        <button type="button" class="btn btn-success" data-ng-click="createNewEntity()"> Сохранить</button>
<!--    </div>-->
</div>